<div class="container">
  <div class="row">
    <div class="col text-center">
      <a href="https://github.com/BtCellNet18/CRUD_Angular_Client">
        <img src="assets/images/GitHub.png" alt="GitHub" title="GitHub" height="32" width="32" />
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h3>CRUD Angular Client</h3>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <p>
        A sample Angular client that consumes a web
        <a href="https://webapi20200129025509.azurewebsites.net/">API</a>.
      </p>
    </div>
  </div>
</div>